body {
  background-image: url('img/peakpx.jpg');
  background-position: center;
  background-size: cover; 
}

h2 i {
  color: #ffc107; 
}

.card {
  background: linear-gradient(rgba(81, 255, 0, 0.8), rgba(144, 240, 100, 0.8));
  border-radius: 10px;
  margin-bottom: 50px; 
  margin-right: 60px;
  width: 200%; 
}

.card-img-top {
  width: 200px; 
  height: 200px; 
  margin-bottom: 10px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-text {
  color: white;
}

.btn-pagination {
  background-color: #ffc107;
  color: black;
  border-color: #ffc107;
}